<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
				<resource id="Magento_Reports::report">
                    <resource id="Magento_Reports::salesroot">
						<resource id="Safaricom_Mpesa::mpesaadmin" title="Safaricom Mpesa" translate="title" sortOrder="100">
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>